<?xml version="1.0"?>

<config>
    <modules>
        <Eci_Ecishipping>
            <version>1.0.0.0</version>
        </Eci_Ecishipping>
    </modules>
    <global>
        <helpers>
            <ecishipping>
                <class>Eci_Ecishipping_Helper</class>
            </ecishipping>
        </helpers>
        <blocks>
            <ecishipping>
                <class>Eci_Ecishipping_Block</class>
            </ecishipping>
        </blocks>
        <models>
            <ecishipping>
                <class>Eci_Ecishipping_Model</class>
                <resourceModel>ecishipping_resource</resourceModel>
            </ecishipping>
            <ecishipping_resource>
                <class>Eci_Ecishipping_Model_Resource</class>
                <entities>
                    <method>
                        <table>ecishipping_method</table>
                    </method>
                    <item>
                        <table>ecishipping_item</table>
                    </item>
                    <offset>
                        <table>ecishipping_offset</table>
                    </offset>
                    <noship>
                        <table>ecishipping_noship</table>
                    </noship>
                    <method_item>
                        <table>ecishipping_method_item</table>
                    </method_item>
                    <method_website>
                        <table>ecishipping_method_website</table>
                    </method_website>
                    <method_label>
                        <table>ecishipping_method_label</table>
                    </method_label>
                    <sales_order_method>
                        <table>ecishipping_sales_order_method</table>
                    </sales_order_method>
                    <sales_order_method_item>
                        <table>ecishipping_sales_order_method_item</table>
                    </sales_order_method_item>
                </entities>
            </ecishipping_resource>
        </models>
        <resources>
            <ecishipping_setup>
                <setup>
                    <module>Eci_Ecishipping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </ecishipping_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <ecishipping_sales_order_save_after>
                        <class>ecishipping/observer</class>
                        <method>observerOrderSaveAfter</method>
                    </ecishipping_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecishipping before="Mage_Adminhtml">Eci_Ecishipping_Adminhtml</ecishipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <sales_quote_save_after>
                <observers>
                    <ecishipping_sales_quote_save_after>
                        <class>ecishipping/observer</class>
                        <method>observerQuoteSaveAfter</method>
                    </ecishipping_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <ecishipping_save_shipping_method>
                        <class>ecishipping/observer</class>
                        <type>singleton</type>
                        <method>observerSaveShippingMethod</method>
                    </ecishipping_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_order_place_after>
                <observers>
                    <ecishipping_sales_order_place_after>
                        <class>ecishipping/observer</class>
                        <type>singleton</type>
                        <method>observerSalesOrderPlaceAfter</method>
                    </ecishipping_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
        <translate>
            <modules>
                <Eci_Ecishipping>
                    <files>
                        <default>Eci_Ecishipping.csv</default>
                    </files>
                </Eci_Ecishipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecishipping>
                    <file>ecishipping.xml</file>
                </ecishipping>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <ecishipping_adminhtml_sales_order_create_process_data_before>
                        <class>ecishipping/observer</class>
                        <method>observerAdminhtmlSalesOrderCreateProcessDataBefore</method>
                    </ecishipping_adminhtml_sales_order_create_process_data_before>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
        </events>
        <translate>
            <modules>
                <Eci_Ecishipping>
                    <files>
                        <default>Eci_Ecishipping.csv</default>
                    </files>
                </Eci_Ecishipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecishipping>
                    <file>ecishipping.xml</file>
                </ecishipping>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <ecishipping>
                <model>ecishipping/carrier_ecishipping</model>
                <active>1</active>
                <title><![CDATA[EC-Intelligent - Shipping]]>
                </title>
                <description><![CDATA[Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.]]>
                </description>
                <daysoffset>2</daysoffset>
                <threshold_hour>16</threshold_hour>
                <dayspreorder>30</dayspreorder>
                <!--<podtour>999</podtour>-->
            </ecishipping>
            <ecishippingadmin>
                <model>ecishipping/carrier_ecishippingadmin</model>
                <active>1</active>
            </ecishippingadmin>
        </carriers>
    </default>
</config>
