<!--@subject Schnittstelle Tägliche Logs {{var date}} @-->
Exportierte Bestelldaten: {{var count_exported_orders}}
Exportierte Kundenadressen: {{var count_exported_customer_addresses}}

{{if count_imported_orderstatus}}Importierte Bestellstatusdaten: {{var count_imported_orderstatus}}
{{/if}}Importierte Kunden: {{var count_imported_customers}}
Importierte Kategorien: {{var count_imported_categories}}
Importierte Artikel: {{var count_imported_products}}
Importierte Kategorie-Artikel-Verknüpfungen: {{var count_imported_category_product_connections}}
Importierte Artikel-Artikel-Verknüpfungen: {{var count_imported_product_connections}}
Importierte Artikel-Preise: {{var count_imported_prices}}

Gelöschte Kategorien: {{var count_deleted_categories}}
Gelöschte Produkte: {{var count_deleted_products}}
